@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --gradient-bg: linear-gradient(to bottom right, #48287C, #732B98, #64106B, #4B2878);
  --gradient-section: linear-gradient(#000000, #551972);
  --box-shadow-black: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  --box-shadow-pink: 0 0 10px 10px rgba(237, 61, 99, 0.2);
  --box-shadow-blue: 0 0 10px 10px rgba(29, 162, 252, 0.2);
  --color-text: #fff;
  --color-blue: #1da2fc;
  --color-pink: #ED3D63;
  --color-gray: #C6C6C6;
}

* {
  box-sizing: border-box;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background: var(--gradient-bg);
  color: var(--color-text);
  overflow-x: hidden;
}



main {
  padding: 1rem 10vw;
}

/* ---------- Text ---------- */

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }

.strong {
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {max-width: 100%;}

input { 
  display: inline-block; 
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  padding: 5px 10px;
}

fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

code {
  overflow-x: scroll;
}

/* Navbar */

.navbar {
  height: 70px;
  width: 100%;
  background: black;
  color: var(--colors-text);
  position: fixed;
  top: 0;
  padding: 0 10vw;
  font-weight: bold;
  z-index: 99;
  box-shadow: var(--box-shadow-black);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar li {
  border-radius: 50%;
  
}

.logo {
  justify-self: flex-start;
}

/* Buttons */

.btn, button {
  background-color: var(--color-gray);
  border: none;
  color: var(--color-text);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}


button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled]{
  filter: brightness(80%);
  cursor: not-allowed;
}

.btn-blue {
  background-color: var(--color-blue);
  color: white;
}

.btn-blue:hover, 
.btn-b:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--color-blue); }
}

.btn-pink {
  background: transparent;
  border: var(--color-pink) solid;
  color: var(--color-pink);
}

.btn-pink:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
  box-shadow: var(--box-shadow-pink);
  transition: 0.3s;
}

.btn-green {
  background-color: var(--color-green);
  color: white;
}

.btn-google {
  background-color: #ededed;
  color: black;
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

.btn-logo {
  background-color: var(--color-text);
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

button:active {
  transform: scale(0.95);
  box-shadow: none;
  transform: translateY(0.25rem);
}

.btn-pink:active {
  box-shadow: none;
}

/* Loader */

.loader {
  border: 10px solid var(--gradient-bg); 
  border-top: 10px solid var(--color-blue); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* File uploads */

input[type="file"] {
  display: none;
}

.upload-snippet {
  width: 75%;
  margin-left: auto;
  background: white;
  padding: 5px;
  margin: 5px 0;
}
/* Utilities */

.push-left {
  margin-left: auto;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.hidden { display:  none; }

.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
}

/* Animation */
@keyframes slidebg {
  from {
    background-position: 0;
  }
  to {
    background-position:20vw;
  }
}

/* ========== HOME ========== */
.home-page {
  text-align: center;
  padding-top: 100px;
}

.home-top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-link {
  bottom: 10rem;
  justify-self: flex-end;
}

.home-title {
  display: inline-block;
  font-weight: lighter;
  padding: 1rem;
  background: #fff;
  color: #000000;
  border-radius: 16px;
  border: var(--color-pink) dashed 10px;
}

.home-input-list h2 {
  display: inline-block;
  background: var(--color-pink);
  padding: 1.4rem 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
}

.cover-letter-steps {
  height: 100vh;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-letter-steps h3 {
  padding: 2rem 0;
}

.cover-letter-steps textarea {
  margin: 2rem 0;
  border-radius: 30px;
  padding: 10px;
  resize: vertical;
}

/* Bottom */
.home-bottom {
  background: var(--gradient-section);
  margin-top: -2rem;
}

.custom-shape-divider-top-1689553927 {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; */
  transform: rotate(180deg);
  margin-top: -2rem;
}

.custom-shape-divider-top-1689553927 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}

.custom-shape-divider-top-1689553927 .shape-fill {
  fill: #551972;
}

/* ========== LOGIN ========== */
.login-page {
  background: var(--gradient-section);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: var(--color-text);
  border-radius: 30px;
  box-shadow: var(--box-shadow-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-top {
  background: var(--gradient-bg);
  padding: 3rem;
  border-radius: 30px 30px 0 0;
  text-align: center;
}

.login-bottom {
  display: flex;
  align-items: baseline;
}

.login-left {
  margin: 3rem;
  width: 50%;
}

.logn-right {
  margin: 3rem;
  width: 50%;
}

.login-subtitle {
  color: black;
}

.signup-text {
  color:#000000;
  display: flex;
}

.signup-btn {
  background-color: transparent;
  padding: 0;
  padding-left: 1rem;
  color: var(--color-blue);
}

.signin-field {
  margin-bottom: 1.5rem;
  padding: 10px 10px;
  background-color: #e8e8e8;
  border-radius: 30px;
}


/* ========== CL VIEW ========== */

.coverletter-view-page {
  background: var(--gradient-section);
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverletter-view {
  background: var(--color-text);
  border: dashed var(--color-pink) 6px;
  box-shadow: var(--box-shadow-pink);
  width: 70%;
  padding: 5rem;
  margin-top: 2rem;
}

.coverletter-text {
  color: black;
}

.coverletter-p {
  padding-top: 3rem;
}

.download-btns {
  padding-top: 2rem;
  display: flex;
  gap: 3rem;
}

/* ========== PROFILE ========== */

.profile-page {
  padding-top: 100px;
}

.profile-top {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 5rem;
}

.profile-top-item {
  border: dashed 5px var(--color-blue);
  padding: 3rem;
  width: 15rem;
  height: 15rem;
  color: #000000;
  background-color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-blue);
  border-radius: 20px;
  transition: 0.3s;
}

.profile-top > div:nth-child(2) {
  margin-top: 2rem;
}

.profile-top-item:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}